<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乘客管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/passgener.css}">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.5.6/layui.min.js"></script>
    <script th:src="@{/js/page.js}"></script>
    <script th:src="@{/js/passenger.js}"></script>
</head>
<body>
<span class="layui-breadcrumb">
          <a th:href="@{/index}" target="_top" onclick="location.reload()">首页</a>
          <a><cite>乘客管理</cite></a>
        </span>
<form id="myForm" method="post" class="layui-form" th:action="@{/ticket/admin/showPassenger}"
>
    <div style="margin-top: 20px;">

        <input id="pageNo" name="pageNo" type="hidden" th:value="${session.pageNo}"/>
        <input id="pageSize" name="pageSize" type="hidden" th:value="${session.pageSize}"/>
        <input id="pageTotal" type="hidden" th:value="${session.pageInfo.total}"/>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">乘客姓名</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.nameInput}" name="nameInput"class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">所属用户</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.usernameInput}" name="usernameInput"class="layui-input">
        </div>
    </div>
    <div class="layui-input-inline">
        <button type="submit" class="layui-btn" lay-submit="">
            <i class="layui-icon" style="font-size: 24px;">&#xe615;</i>搜索</button>
    </div>

</form>


<div style="margin-top: 30px;">
    <table class="layui-table" lay-even id="passengerTable" lay-filter="passengerTable">
        <thead >
        <!--<tr>
            <th colspan="6" class="layui-btn-container">
                <button th:class="'layui-btn layui-bg-blue'"  lay-event="add" >添加乘客</button>

        </tr>-->
        <tr>
            <th>
                <input id="selectAll" type="checkbox" name="" title="全选" lay-skin="primary"> ID
            </th>
            <th>乘客姓名</th>
            <th>身份证号码</th>
            <th>性别</th>
            <th>所属用户</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:if="${passengerNum == 0}">
        <tr>
            <td colspan="6" style="text-align: center;">暂无乘车人数据 <!--，请点击<button th:class="'layui-btn layui-bg-blue'"  lay-event="add" >添加乘客</button>-->
            </td>
        </tr>
        </tbody>
        <!--        <div th:if="${pageInfo != null}">这里有数据</div>-->
        <tbody th:if="${passengerNum != 0}">
        <tr th:each="passenger : ${passengerList}">
            <td>
                <input  class="mySelect" type="checkbox" name="infoIds" title="1" lay-skin="primary"
                        th:text="${passenger.passengerId}">
            </td>
            <td th:text="${passenger.name}"></td>
            <td th:text="${passenger.identity}"></td>
            <td th:text="${passenger.gender} eq '男' ? '男' : '女'"></td>
            <td th:text="${passenger.user.username}"></td>
            <td class="layui-btn-container">
                <!--<button class="layui-btn layui-btn-warm" th:data-id="${passenger.passengerId}"
                        th:data-name="${passenger.name}" th:data-identity="${passenger.identity}"
                        th:data-gender="${passenger.gender}" th:data-pageNo="${session.pageNo}" lay-event="edit">
                    编辑
                </button>-->

                <button data-th-method="offset" data-th-type="t" class="layui-btn layui-btn-danger"
                        th:onclick="'deletePassenger(' + ${passenger.passengerId} +')'"
                        th:class=" 'layui-btn layui-btn-danger'">删除</button>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="pageDemo" style="text-align: center"></div>

</body>
</html>