<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告页</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/news.css}">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.5.6/layui.min.js"></script>
    <script th:src="@{/js/page.js}"></script>
    <script th:src="@{/js/addNews.js}"></script>
    <script th:src="@{/js/deleteNews.js}"></script>
    <script th:src="@{/js/updateNews.js}"></script>
<!--    <link rel="stylesheet" th:href="@{/css/fontStyle.css}">-->

</head>
<body>
<span class="layui-breadcrumb">
          <a th:href="@{/index}" target="_top" onclick="location.reload()">首页</a>
          <a><cite>公告管理</cite></a>
        </span>
<form id="myForm" method="post" class="layui-form" th:action="@{/ticket/news/findAllNews}">
    <div style="margin-top: 20px;">

        <input id="pageNo" name="pageNo" type="hidden" th:value="${session.pageNo}"/>
        <input id="pageSize" name="pageSize" type="hidden" th:value="${session.pageSize}"/>
        <input id="pageTotal" type="hidden" th:value="${session.pageInfo.total}"/>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.nameInput}" name="nameInput"class="layui-input">
        </div>
    </div>
    <div class="layui-input-inline">
        <button type="submit" class="layui-btn" lay-submit="">
            <i class="layui-icon" style="font-size: 24px;">&#xe615;</i>搜索</button>
    </div>

</form>


<div style="margin-top: 30px;" class="layui-fluid">
    <table class="layui-table" lay-even >

        <thead >
        <tr>
            <th colspan="6" class="layui-btn-container">
                <button th:class="'layui-btn layui-bg-blue'" th:data-pageTotal="${session.pageInfo.total}" lay-event="add" >添加公告</button>

        </tr>
        <tr  >
            <th>
                <input id="selectAll" type="checkbox" name="" title="全选" lay-skin="primary"> ID
            </th>
            <th>标题</th>
            <th>作者</th>
            <th>发布时间</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:if="${newsNum == 0}">
        <tr>
            <td colspan="6" style="text-align: center;">暂无公告数据，请点击<button th:class="'layui-btn layui-bg-blue'" th:data-pageTotal="${session.pageInfo.total}" lay-event="add" >添加公告</button>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${newsNum != 0}">
        <tr th:each="news : ${newsList}">
            <td>
                <input  class="mySelect" type="checkbox" name="infoIds" title="1" lay-skin="primary"
                        th:text="${news.id}">
            </td>
            <td th:text="${news.title}"></td>
            <td th:text="'管理员'"></td>
            <td th:text="${#dates.format(news.saveTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td >
                <span class="text-ellipsis layui-btn" th:text="${news.content}" onclick="showModal(this)"></span>
            </td>
            <td class="layui-btn-container">
                <button class="layui-btn layui-btn-warm" th:data-id="${news.id}"
                        th:data-title="${news.title}"
                        th:data-content="${news.content}"  th:data-pageNo="${session.pageNo}" lay-event="edit">
                    编辑
                </button>

                <button data-th-method="offset" data-th-type="t" class="layui-btn layui-btn-danger"
                        th:onclick="'deleteNews(' + ${news.id} +')'"
                        th:class=" 'layui-btn layui-btn-danger'">删除</button>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="pageDemo" style="text-align: center"></div>
<script>
    //需要注意的是，Layui的模态框自动添加了遮罩层，防止用户误操作。如果要关闭该效果，
    // 可以在调用弹窗方法时把 shadeClose 参数设为 false。
    function showModal(elem) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1, //弹窗类型，这里是页面层
                title: false, //不显示标题栏
                shadeClose: true, //可点击关闭遮罩层
                area: ['450px', '360px'], //弹窗宽高
                content:  '<div style="padding: 20px">' + elem.innerText + '</div>' // 设置 padding 样式 弹窗内容，使用innerText获取span标签内的文本内容
            });
        });
    }

</script>
</body>
</html>