<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.6/css/layui.min.css">
</head>
<body background="/images/img_2.png" style="background-size: cover">
<div id="loginDiv">
    <div id="loginDiv_1">
        <h1 style="text-align: center;color:#009688;">欢迎注册汽车订票系统</h1>
    </div>
    <div id="loginDiv_2">
        <form class="layui-form" id="register-form" action="doRegister" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe66f;</i>&nbsp;用户名：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe673;</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="password" lay-verify="password" lay-reqtext="密码是必填项，岂能为空？" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe673;</i>确认密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="passwordAgain" lay-verify="required|passwordAgain" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe612;</i>&nbsp;手机号：</label>
                <div class="layui-input-block">
                    <input type="tel" name="phone" lay-verify="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe618;</i>&nbsp;     邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="register">注册</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            <div th:include="fragments/footer :: footer"></div>
        </form>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/layui/2.5.6/layui.min.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;

        // 自定义验证规则
        form.verify({
            username: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value.length < 2){
                    return '用户名长度不能小于2啊';
                }if (!/^[\u4e00-\u9fa5a-zA-Z]+$/.test(value)) {
                    return '用户名只能包含中文或英文字母';
                }
            },
            password: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value.length < 4){
                    return '密码不能小于4啊';
                }
            },
            passwordAgain: function(value, item){ //value：表单的值、item：表单的DOM对象
                var password = $("input[name='password']").val();
                if(password != value){
                    return '两次输入的密码不一致';
                }
            },
            phone: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!/^1[3456789]\d{9}$/.test(value)){
                    return '请输入正确的手机号码';
                }
            },
            email: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/.test(value)){
                    return '请输入正确的邮箱格式';
                }
            }
        });

        //监听提交
        form.on('submit(register)', function(data){
            $.ajax({
                url:'/doRegister',
                type:'POST',
                data:data.field,//表单中的所有数据
                success:function (res) {
                    if(res.success){
                        layer.msg(res.msg,{icon:1,time:2000},function(){
                            window.location.href = "/login";
                        });
                    }else {
                        layer.msg(res.msg,{icon:5,time:2000});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
