<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>汽车订票系统用户主页</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-size: 18px"><img src="favicon.ico" height="22px" width="22px">汽车订票系统</img></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-layout-body"><a th:href="@{/index}" onclick="location.reload()">首页购票</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="images/dark.jpeg" class="layui-nav-img">
                    <label th:text="${session.user.username}"></label>
                </a>
                <dl class="layui-nav-child">
<!--                    <dd><a href=""><i class="layui-icon">&#xe770;</i>个人信息</a></dd>-->
                    <dd><a th:href="@{/ticket/user/rePassword}" target="mainBody"><i class="layui-icon">&#xe673;</i>修改密码</a></dd>
                    <hr>
                    <dd><a th:href="@{/loginOut}"><i class="layui-icon">&#xe682;</i> 退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航栏 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a  href="http://localhost:8080/adminMain" target="mainBody">系统公告</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a  th:href="@{/ticket/passenger/findPassenger}" target="mainBody">乘客管理</a>
                    <!--                    <dl class="layui-nav-child">-->
                    <!--                        <dd><a th:href="@{/ticket/passenger/addPassenger}" target="mainBody">添加乘客</a></dd>-->
                    <!--                        <dd><a th:href="@{/ticket/passenger/findPassenger}" target="mainBody">查看乘客</a></dd>-->
                    <!--                    </dl>-->
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" th:href="@{/ticket/order/list}" target="mainBody">我的订单</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" th:href="@{/ticket/ticket/list}" target="mainBody">车票管理</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe  src="http://localhost:8080/userMain" name="mainBody" style="width: 100%;height: 100%;"></iframe>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script src="layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });
</script>
</body>

</html>
